---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Tattoos"
import tattooURLs from '../../public/tattoos.json';
import Art from "../components/Art.astro";
---

<BaseLayout pageTitle={ pageTitle }>
    <ul>
        {
            tattooURLs['resources'].map((res) => (
                <li>
                    <Art src={ res['secure_url'] } altText="Tattoo" description="Placeholder Description"/>
                </li>
            ))
        }
    </ul>
</BaseLayout>
